.twitter-typeahead {
    display: block !important;

    .tt-menu {
        right: 0;
        margin-top: 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 8px;
        border-bottom: 1px solid #999;
    }

    .tt-suggestion.tt-cursor {
        color: #000;
        background-color: $primary;

    }

    .tt-suggestion p {
        margin: 0;
    }
}
